<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://www.rgraph.net/libraries/RGraph.svg.horseshoe.js"></script>
    <script src="https://www.rgraph.net/libraries/RGraph.svg.common.core.js"></script>
    <script type="module" src="./assets/js/main.js" defer></script>
    <title>Montgolfières</title>
  </head>

  <body>
    <header>
      <div class="menu">
        <a href=""><img src="./assets/img/mont4.png" alt="logo montgolfière"></a>
        <nav>
          <ul>
            <li><a class="animate__animated" href="#histoire">Histoire</a></li>
            <li><a class="animate__animated" href="#festival">Festivals</a></li>
            <li><a class="animate__animated" href="#dessin">Dessiner</a></li>
          </ul>
        </nav>
      </div>
      <div class="hero-section">
        <div class="headings">
          <h1 class="animate__animated animate__fadeInDown">Entre ciel et terre</h1>
          <h2 class="animate__animated animate__backInUp animate__slower">Passion Montgolfière</h2>
        </div>
        <img class="img1 animate__animated animate__rollIn" src="./assets/img/mont1.png" alt="Illustration de Montgolfière"  aria-hidden="true">
        <img class="img2 animate__animated animate__bounceInRight animate__slower" src="./assets/img/mont3.png" alt="Illustration de Montgolfière"  aria-hidden="true">
        <img class="img3 animate__animated animate__fadeInBottomLeft animate__slow" src="./assets/img/mont6.png" alt="Illustration de Montgolfière"  aria-hidden="true">
        <img class="img4 animate__animated animate__slideInRight animate__slower" src="./assets/img/mont2.png" alt="Illustration de Montgolfière"  aria-hidden="true">
        <img class="img5 animate__animated animate__lightSpeedInLeft" src="./assets/img/nuage2.png" alt="Illustration de nuage"  aria-hidden="true">
        <img class="img6 animate__animated" src="./assets/img/nuage2.png" alt="Illustration de nuage"  aria-hidden="true">
        <img class="img7 animate__animated animate__lightSpeedInRight " src="./assets/img/nuage2.png" alt="Illustration de nuage"  aria-hidden="true">
        <img class="img8 animate__animated animate__bounceInUp animate__slow" src="./assets/img/mont7.png" alt="Illustration de Montgolfière"  aria-hidden="true">
      </div>
    </header>

    <main>
      <aside id="histoire">
        <h2 class="wow animate__animated animate__flip">Histoire de la montgolfière</h2>

        <div class="frere">
          <h3 class="wow">Époque des frères Montgolfier (fin du XVIIIe siècle)</h3>
          <p>En 1783, les frères Joseph et Étienne de Montgolfier ont lancé le premier ballon à air chaud réussi, marquant le début de l'aérostation. Leur premier vol habité a eu lieu le 21 novembre 1783 à Paris, avec des passagers humains.</p>
          <figure>
            <img class="wow animate__animated animate__fadeInRight" src="./assets/img/frere-mongolfier.jpg" alt="Photo du lancement de la première montgolfière">
            <figcaption>Photo du lancement de la première montgolfière, par les frères Montgolfier</figcaption>
          </figure>
        </div>

        <div class="19e">
          <h3  class="wow">XIXe siècle</h3>
          <p>Les ballons à air chaud ont évolué avec l'ajout de nouvelles technologies, comme les brûleurs à gaz. Pendant les guerres napoléoniennes et la guerre civile américaine, les ballons ont été utilisés pour la reconnaissance militaire.</p>
          <figure>
            <img class="wow animate__animated animate__fadeInRight" src="./assets/img/1870.jpg" alt="Photo de montgolfières en 1870">
            <figcaption>Photo de montgolfières en 1870</figcaption>
          </figure>
        </div>

        <div class="20e-1">
          <h3 class="wow">Début du XXe siècle</h3>
          <p>Les ballons à air chaud ont perdu en popularité avec l'avènement des avions et des dirigeables, plus pratiques pour le transport et les voyages. Cependant, ils sont restés utilisés pour des exploits sportifs et des records de vol.</p>
          <figure>
            <img class="wow animate__animated animate__fadeInRight" src="./assets/img/1938.webp" alt="Photo de montgolfières en Suisse en 1938">
            <figcaption>Suisse en 1938, capitale de la montgolfière à l'époque</figcaption>
          </figure>
        </div>

        <div class="20e-2">
          <h3 class="wow">Seconde moitié du XXe siècle</h3>
          <p>Les ballons à air chaud connaissent une renaissance grâce à l'invention de brûleurs modernes et de matériaux légers. Des compétitions et des festivals de montgolfières, comme le Festival de Ballon d'Albuquerque, deviennent des événements populaires.</p>
          <figure>
            <img class="wow animate__animated animate__fadeInRight" src="./assets/img/1980.jpg" alt="Photo de Michel Arnoud en 1980">
            <figcaption>Photo de Michel Arnoud en 1980</figcaption>
          </figure>
        </div>

        <div class="21e">
          <h3 class="wow">XXIe siècle</h3>
          <p>Aujourd'hui, les montgolfières sont principalement utilisées pour les loisirs et le tourisme, offrant des expériences de vol uniques. Les avancées technologiques continuent d'améliorer la sécurité et l'efficacité des vols en montgolfière.</p>
          <figure>
            <img class="wow animate__animated animate__fadeInRight" src="./assets/img/21e.jpg" alt="Photo artistique de montgolfières au 21e siècle">
            <figcaption>Photo artistique de montgolfières au 21e siècle</figcaption>
          </figure>
        </div>
      </aside>

      <section id="festival">
        <h2 class="wow animate__animated animate__bounceInLeft">Les festivals à travers le monde</h2>
        <div class="usa">
          <h3 class="wow">Albuquerque International Balloon Fiesta (États-Unis)</h3>
          <p>Le plus grand festival de montgolfières au monde, se déroulant chaque octobre à Albuquerque, Nouveau-Mexique.</p>
          <img src="./assets/img/albuquerque.jpg" alt="Photo de Albuquerque International Balloon Fiesta">
        </div>

        <div class="angleterre">
          <h3 class="wow">Bristol International Balloon Fiesta (Royaume-Uni)</h3>
          <p>Un événement majeur qui a lieu chaque août à Bristol, attirant des centaines de montgolfières et des milliers de spectateurs.</p>
          <img src="./assets/img/bristol-balloon.png" alt="Photo de montgolfières au Bristol International Balloon Fiesta">
        </div>

        <div class="suisse">
          <h3 class="wow">Festival International de Ballons de Château-d'Oex (Suisse)</h3>
          <p>Un magnifique festival hivernal se tenant en janvier dans les Alpes suisses, célèbre pour ses paysages enneigés.</p>
          <img src="./assets/img/suisse.jpg" alt="Photo du'une montgolfière petit prince au Festival International de Ballons de Château-d'Oex">
        </div>

        <div class="japon">
          <h3 class="wow">Saga International Balloon Fiesta (Japon)</h3>
          <p>Le plus grand festival de montgolfières en Asie, se déroulant chaque automne dans la préfecture de Saga.</p>
          <img src="./assets/img/japon.jfif" alt="Photo de montgolfières au Saga International Balloon Fiesta">
        </div>

        <div class="taiwan">
          <h3 class="wow">Taiwan International Balloon Festival (Taïwan)</h3>
          <p>Un festival coloré et animé qui se tient chaque été à Taitung, avec de nombreuses activités et spectacles.</p>
          <img src="./assets/img/taiwan.jpg" alt="Photo de montgolfières au Taiwan International Balloon Festival">
        </div>

        <div class="france">
          <h3 class="wow">Mondial Air Ballons (France)</h3>
          <p>Le plus grand rassemblement de montgolfières en Europe, se déroulant tous les deux ans en Lorraine, attirant des participants du monde entier.</p>
          <img src="./assets/img/frace.jpg" alt="Photo de montgolfières au Mondial Air Ballons">
        </div>
      </section>

      <section id="dessin">
        <div>
          <h2 class="wow animate__animated animate__bounceInLeft">Dessine la montgolfière, sans dépasser!</h2>
          <p>Si tu ne peux pas dessiner ou si la montgolfière n'apparait pas, actualise la page !</p>
          <canvas class="dessin-canvas" width="300" height="200"></canvas>
          <button class="btn-clear">Clear</button>
        </div>
        <h3>Pourcentage de complétion</h3>
        <div class="graph">
          <div id="chart-container2"></div>
        </div>
      </section>
      <div class="modale hidden">
        <div class="lost hidden">
            <button class="btn-close">X</button>
            <p>Tu as dépassé!</p>
        </div>
        <div class="win hidden">
            <button class="btn-close">X</button>
            <p>Bravo, tu as gagné!</p>
        </div>
    </div>

    </main>

    <footer>
      <div class="footer1">
        <p>Clémentine Digout</p>
        <p><time datetime="2024-06-24">Juin 2024</time></p>
        <p>PIIA</p>
      </div>
      <div class="footer2">
        <p>Touts les images sont libres de droits. Issues de Vecteezy et Wikipédia.</p>
      </div>
    </footer>
  </body>
</html>

